/*
    colores:
    enlaces nav: 6b53f0
    iconos: 9e23ff
*/


html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

#navbar{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 14px 360px;
    justify-content: space-between;
}

p {
    margin-right: 2em;
    font-weight: bold;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
}

p:hover{
    color: #6b53f0;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.5em;
    height: 2.5em;
    border: 2px solid black;
    font-size: 0.8em;
    width: 8em;
    margin-right: 2em;
    cursor: pointer
}

button:hover {
    background-color: black;
    color: white;
}

.fa-instagram, .fa-linkedin-in{
    margin-right: 2em;
    cursor: pointer;
}

.fa-brands:hover{
    color: #9e23ff;
}

div#navbar-left img {
    width: 8em;
    cursor: pointer
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-menu{
    display: none;
    position:absolute;
    z-index: 1;
    padding: 0px;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu li{
    list-style: none;
    margin-bottom: 1em;
}

.dropdown-menu li a{
    text-decoration: none;
    color: black;
}
















@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
