/*
    colores:
    enlaces nav: 6b53f0 azul claro
    iconos: 9e23ff lila
*/


html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

#navbar{
    display: flex;
    border-bottom: 1px solid gray;
    padding: 0px 360px;
    justify-content: space-between;
}

#navbar p {
    margin-right: 2em;
    font-weight: bold;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
}

#navbar p:hover{
    color: #6b53f0;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.5em;
    height: 2.5em;
    border: 2px solid black;
    font-size: 0.8em;
    width: 8em;
    margin-right: 2em;
    cursor: pointer
}

button:hover {
    background-color: black;
    color: white;
}

.fa-instagram, .fa-linkedin-in{
    margin-right: 2em;
    cursor: pointer;
}

.fa-brands:hover{
    color: #9e23ff;
}

#navbar-left{
    display: flex;
}

div#navbar-left img {
    width: 8em;
    cursor: pointer;
}

.drop-link-a{
    padding: 16px;
    /* font-size: 16px; */
    border: none;
}

.dropdown-a{
    position: relative;
    display: inline-block;
}

.dropdown-menu-a{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid black;
    margin-left: 12px;
    padding: 8px;
}

.dropdown-a:hover .dropdown-menu-a {display: block;}

.dropdown-menu li{
    list-style: none;
    margin-bottom: 1em;
}

.dropdown-menu-a a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu-a a:hover {color: #6b53f0;}
















@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}
